@use "typography";
@use "mixins" as *;

// palet https://coolors.co/f9f1f9-ba5db0-d2cfd6-6a5e69-151415
$color-black: #151415;
$color-white: #f9f1f9;
$color-lightgray: #9e97a0;
$color-gray: #6a5e69;
$color-purple-accent: #ba5db0;

$jost: "Jost", sans-serif;

$bt: 2px; //short for border-thickness
$btc: -2px; //short for border-thickness compensation
$border: solid $bt $color-black;

%theme {
  &__padding {
    padding-top: 2rem;
    padding-right: 2.5vw;
    padding-bottom: 2rem;
    padding-left: 2.5vw;
  }

  &__h {
    font: 500 1rem $jost;
    line-height: 120%;
    color: $color-black;

    &1 {
      @extend %theme__h;
      font-size: 4rem;
      font-weight: 600;

      @include medium-device-down {
        font-size: 2.5rem;
        font-weight: 500;
      }
    }
    &2 {
      @extend %theme__h;
      font-size: 3.5rem;
      font-weight: 600;

      @include medium-device-down {
        font-size: 2.25rem;
        font-weight: 500;
      }
    }
    &3 {
      @extend %theme__h;
      font-size: 2.25rem;

      @include medium-device-down {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
    &4 {
      @extend %theme__h;
      font-size: 1.75rem;

      @include medium-device-down {
        font-size: 1.375rem;
        font-weight: 400;
      }
    }
    &5 {
      @extend %theme__h;
      font-size: 1.25rem;

      @include medium-device-down {
        font-size: 1.125rem;
      }
    }
    &6 {
      @extend %theme__h;
    }
  }

  &__p {
    &1 {
      font: 500 1rem $jost;
      text-align: left;
      color: $color-black;
      line-height: 140%;
    }

    &2 {
      font: 500 0.875rem $jost;
      text-align: left;
      color: rgba($color-black, 0.8);
      line-height: 120%;
    }
  }

  &__cta {
    @include disFlex(row, center, center);
    font: 500 1rem $jost;
    line-height: 120%;
    color: $color-black;
    text-align: center;

    border: $border;
    background-color: $color-white;
    width: fit-content;
    padding: 1.125rem 2.5rem;

    transition: background-color ease 0.3s, color ease-out 0.3s;

    &:is(:hover, :active) {
      background-color: $color-black;
      color: $color-purple-accent;

      line {
        stroke: $color-purple-accent;
      }
    }

    &-link {
      @extend %theme__cta;
      text-transform: capitalize;
    }
  }
}
